<button (click)="getJoke()">Get New Joke</button>
<button (click)="favoriteJoke()">{{isCurrentJokeFavorited() ? 'UnFavorite' : 'Favorite'}} this joke</button>


<div class="container">

<div class="random">

  <h1>Random Joke</h1>
  <div *ngIf="joke">{{joke.joke}}</div>
</div>

  <div class="favorites">
    <h1>Favorites</h1>
    <div class="joke" *ngFor="let j of favorites" (click)="reloadFavoriteJoke(j.id)">
      <span>{{j.id}}</span>
      <button (click)="unFavoriteJoke(j.id)">delete</button>
    </div>
  </div>
</div>
